<h2 class="content-block">About</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <div class="about-container">
      <div class="logo"></div>
      <div class="about-text">
        <p>Hi there! Thanks for your interest in my work.
          <br> It was my first experience with <b>Angular</b> and also a new personal achievement. 🏆
        </p>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">Information about users is created in the form of a <b>Devextreme</b> table, with the ability to
            sorting and searching.</li>
          <li class="list-group-item">I get user data using the following <b>API</b>: <a href="https://randomuser.me">https://randomuser.me </a></li>
          <li class="list-group-item">To customize the appearance of the application I used DevExtreme Application Template.</li>
          <li class="list-group-item">I have also added user <b>numbering</b> for convenience and clarity.</li>
          <li class="list-group-item">To switch filters, I connected a set of <b>Bootstrap</b> checkboxes. Selected options are also stored in <b>LocalStorage</b>.</li>
        </ul>

        <br>

        <p>It was a very interesting and valuable experience for me, I am glad that I managed to complete this task and I hope I coped with it with dignity.
          <br>
          Thank you for your attention and may the force be with you!🌌
        </p>
      </div>
    </div>
  </div>
</div>
